* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Comme", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.wrapper {
    width: 100%;
    height: 100%;
    background: transparent;
    position: relative;
    border-width: 2px;
    backdrop-filter: blur(20px);
    border-radius: 20px;
    padding: 10px 20px;
    z-index: 6;
}

.wrapper h2 {
    font-size: 36px;
    text-align: center;
    font-weight: 600;
    text-shadow: 1px 1px 0 #798288;
}

.wrapper .login-boxes {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
    border-radius: 30px;
}

.login-boxes input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border-radius: 50px;
    font-size: 16px;
    padding: 1px 0px 1px 15px;
}

.login-boxes input::placeholder {
    text-shadow: 1px 1px 1 #000000;
    font-weight: 500;
}

.login-boxes i {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.wrapper .btn {
    width: 100%;
    height: 40px;
    background: #fff;
    position: relative;
    border: none;
    outline: none;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    transition: background-color 0.1s, color 0.1s;
}

.wrapper .register {
    font-size: 16px;
    text-align: center;
    margin: 20px 0 15px;
}

.register p a {
    text-decoration: none;
    font-weight: 600;
}

.register p a:hover {
    text-decoration: underline;
}

.wrapper .error {
    color: red;
    font-size: 16px;
    text-align: center;
    font-weight: 600;
    text-shadow: 0px 0px 0 #798288;
}

.wrapper .success {
    color: green;
    font-size: 16px;
    text-align: center;
    font-weight: 600;
    text-shadow: 0px 0px 0 #798288;
}

video {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0px;
    left: 0px;
    object-fit: cover;
    z-index: 2;
    opacity: 0.3;
}

/*---------------------------------------------INDEX.HTML--------------------------------------------------------*/

.login {
    box-shadow: 0 0 10px #5989A5;
    color: #306AFF;
}

.login .login-boxes {
    color: #4479FF;
    box-shadow: 0 0 10px #5989A5;
}

.login .login-boxes input {
    color: #306AFF;
    text-shadow: 0px 0px 0 #798288;
}

.login .login-boxes input::placeholder {
    color: #306AFF;
}

.login .btn {
    color: #306AFF;
}

.login .btn:active {
    background-color: #003f7f;
    color: #FFF;
}

.login .btn:hover {
    background-color: #306AFF;
    color: #FFF;
}

.login .register p a {
    color: #306AFF;
}

/*---------------------------------------------SIGN_UP.HTML--------------------------------------------------------*/

.signup {
    box-shadow: 0 0 10px #59A566;
    color: #69AD67;
}

.signup .login-boxes {
    color: #69AD67;
    box-shadow: 0 0 10px #59A566;
}

.signup .login-boxes input {
    color: #69AD67;
    text-shadow: 0px 0px 0 #69AD67;
}

.signup .login-boxes input::placeholder {
    color: #69AD67;
}

.signup .btn {
    color: #69AD67;
}

.signup .btn:active {
    background-color: #057401;
    color: #FFF;
}

.signup .btn:hover {
    background-color: #69AD67;
    color: #FFF;
}

.signup .register p a {
    color: #69AD67;
}