<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <title>Mood</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <main>
        <form action="/" method="POST">
            <center>
                <h2 style="background-color:green; color:white">Sign in</h2>
                <p>Username:</p><input type="name" name="username">
                <p>Password:</p><input type="password" name="password"><br><br>
                <input type="submit" value="Sign in">
                <br><br>
                {% if message %}
                <div style="color:red">{{ message }}</div>
                {% endif %}
            </center>
        </form>
    </main>
    <footer>
        <center>
            <a href="/signup">Sign up</a>
        </center>
    </footer>
    <script>
        document.addEventListener("DOMContentLoaded", function() {

            var userTimeZone = Intl.DateTimeFormat().resolvedOptions().timeZone;
            console.log("User Time Zone: " + userTimeZone);

            fetch("/set_timezone", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({ timezone: userTimeZone })
            })
            .then(response => response.json())
            .then(data => {
                console.log("Time zone set:", data);
            })
            .catch(error => {
                console.error("Error setting time zone:", error);
            });
        });
    </script>
</body>
</html>