<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <title>Mood</title>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel='stylesheet' >
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css2?family=Comme:wght@300;400;500;600;700;800;900&display=swap' rel='stylesheet'>
</head>
<body>
    <main>
        <div class="wrapper login">
            <form action="/" method="POST">
                    <br>
                    <h2>Login</h2>
                    <div class="login-boxes">
                        <input type="text" name="username" placeholder="Username">
                        <i class='bx bxs-user'></i>
                    </div>
                    <div class="login-boxes">
                        <input type="password" name="password" placeholder="Password">
                        <i class='bx bxs-lock-alt' ></i><br>
                    </div>
                    <input type="submit" class="btn" value="Login">
                    <div class="register" type="register">
                        <p>Don't have an account? <a href="/signup">Register</a></p>
                    </div>
                    <br>
                    {% if message %}
                    <div class="error">{{ message }}</div><br>
                    {% endif %}
            </form>
        </div>
    </div>
        <video src="https://videos.pexels.com/video-files/855785/855785-hd_1280_720_24fps.mp4" autoplay muted loop></video>
    </main>
    <script>
        document.addEventListener("DOMContentLoaded", function() {

            var userTimeZone = Intl.DateTimeFormat().resolvedOptions().timeZone;
            console.log("User Time Zone: " + userTimeZone);

            fetch("/set_timezone", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({ timezone: userTimeZone })
            })
            .then(response => response.json())
            .then(data => {
                console.log("Time zone set:", data);
            })
            .catch(error => {
                console.error("Error setting time zone:", error);
            });
        });
    </script>
</body>
</html>