<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
</head>
<body>
    <header>
        <left>
            <a href="/statistics">Statisztika</a>
        </left>
    </header>
    <main>
        <form action="/setmood" method="POST">
            <center>
                <h1>Hogy vagy?</h1>
                <button name="mood" value="1"><img src="static/pics/badmood.jpg" alt="bad" /></button>
                <button name="mood" value="2"><img src="static/pics/midbadmood.jpg" alt="midbad"></button>
                <button name="mood" value="3"><img src="static/pics/midmood.jpg" alt="ew"></button>
                <button name="mood" value="4"><img src="static/pics/midhappymood.jpg" alt="midhappy"></button>
                <button name="mood" value="5"><img src="static/pics/happymood.jpg" alt="happy"></button>
            </center>
        </form>
    </main>
    <footer>
        <right>
            <a href="/">Kijelentkezés</a>
        </right>
    </footer>
</body>
</html>