<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <title>Main</title>
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" href="../static/css/style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css2?family=Comme:wght@300;400;500;600;700;800;900&display=swap' rel='stylesheet'>
</head>
<body>
    <header>
        <img class="logo" src="../static/pics/Mood_logo.png">
        <nav>
            <ul>
                <li><a href="/statistics" class="mood-chart">Mood Chart</a></li>
                <li><a href="/" class="sign-out"><i class='bx bx-log-out-circle'></i> Sign out</a></li>
            </ul>
        </nav>
    </header>
    <main class="loggedin-body">
        <h1 class="question-title">How are you feeling right now?</h1>
        <svg width="0" height="0">
            <symbol id="star" viewBox="0 0 53.867 53.867">
                <polygon class="star-icon"
            points="26.934,1.318 35.256,18.182 53.867,20.887 40.4,34.013 43.579,52.549 26.934,43.798 10.288,52.549 13.467,34.013 0,20.887 18.611,18.182"></polygon>
            </symbol>
        </svg>
        <form id="rating-form" action="/setmood" method="POST">
            <div class="smiley-container">
                <img id="smiley" src="static/pics/midmood.jpg" alt="Neutral">
            </div>
            <div class="rating">
                <button type="button" class="rate-radio" data-rating="1"><svg>
                <use xlink:href="#star"></use></svg><span class="bg-color1">Awful</span></button>
                <button type="button" class="rate-radio" data-rating="2"><svg>
                <use xlink:href="#star"></use></svg><span class="bg-color2">Bad</span></button>
                <button type="button" class="rate-radio" data-rating="3"><svg>
                <use xlink:href="#star"></use></svg><span class="bg-color3">Ok</span></button>
                <button type="button" class="rate-radio" data-rating="4"><svg>
                <use xlink:href="#star"></use></svg><span class="bg-color4">Good</span></button>
                <button type="button" class="rate-radio" data-rating="5"><svg>
                <use xlink:href="#star"></use></svg><span class="bg-color5">Great</span></button>
            </div>
            <input type="hidden" name="mood" id="mood-input">
        </form>
    </main>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>