<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <main>
        <form action="/signup" method="POST">
            <center>
                <h2>Sign up</h2>
                <p>Username:</p><input type="name" name="username">
                <p>Password:</p><input type="password" name="password"><br><br>
                <input type="submit">
                <br><br>
                {% if message %}
                <div>{{ message }}</div>
                {% elif message2 %}
                <div style="color: red;">{{ message2 }}</div>
                {% endif %}
            </center>
        </form>
    </main>
    <footer>
        <center>
            <a href="/">Sign in</a>
        </center>
    </footer>
</body>
</html>