<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <title>Statistics</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <footer>
        <h1 align="center">Generate Mood Chart</h1>
    </footer>
    <main>
        <center>
            <form action='/statistics' method='POST'>
                <h3>Start Date:</h3>
                <!-- <input type="datetime-local" id="start_date" name="start_date"> -->
                <input type="date" id="start_date" name="start_date">
                <h3>End Date:</h3>
                <!-- <input type="datetime-local" id="end_date" name="end_date"> -->
                <input type="date" id="end_date" name="end_date">
                <br>
                <input type="submit" value="Generate">
            </form>
        </center>
        {% if image_path %}
            <center>
                <img src="static/moodpics/moodpics1.png">
            </center>
        {% endif %}
    </main>
    <footer>
        <right>
            <a href="/">Sign out</a>
        </right>
    </footer>
</body>
</html>