<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <title>Statistics</title>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel='stylesheet' >
</head>
<body>
    <footer>
        <h1 align="center">Generate Mood Chart</h1>
    </footer>
    <main>
        <center>
            <form action='/statistics' method='POST'>
                <h3>Start Date:</h3>
                <input type="date" id="start_date" name="start_date">
                <h3>End Date:</h3>
                <input type="date" id="end_date" name="end_date">
                <br>
                <input type="submit" value="Generate">
            </form>
        </center>
        {% if message3%}
            <div>{{ message3 }}</div>
        {% endif %}
        {% if image %}
            <center>
                <p>{{ image|safe }}</p>
            </center>
        {% endif %}
    </main>
    <footer>
        <right>
            <a href="/">Sign out</a>
        </right>
    </footer>
</body>
</html>